
// font-size
// --------------------------------------------------
@font-face {
  font-family: "Candyhome";
  font-styles: italic;
  fon-weight: 400;
  src: url('/font/Candyhome.ttf')
}
@font-face {
  font-family: "ZhuZiAWan";
  font-styles: italic;
  fon-weight: 400;
  src: url('/font/ZhuZiAWan.ttf')
}

$font-family-chinese = "ZhuZiAWan", "Noto Serif SC", "PingFang SC", "Microsoft YaHei";

$font-family-base = $font-family-chinese, sans-serif;
$font-family-base = get_font_family('global'), $font-family-chinese, sans-serif if get_font_family('global');

$font-family-logo = $font-family-base;
$font-family-logo = get_font_family('title'), $font-family-base if get_font_family('title');

$font-family-headings = $font-family-base;
$font-family-headings = get_font_family('headings'), $font-family-base if get_font_family('headings');

$font-family-posts = $font-family-base;
$font-family-posts = get_font_family('posts'), $font-family-base if get_font_family('posts');

$font-family-monospace = consolas, Menlo, monospace, $font-family-chinese;
$font-family-monospace = get_font_family('codes'), consolas, Menlo, monospace, $font-family-chinese if get_font_family('codes');

.posts-expand .post-title {
  font-family: "Candyhome";
}

body, a, span.exturl {
  cursor: url('https://blog-static.cnblogs.com/files/lucas--liu/cat6.ico'), auto !important;
}

#waifu #live2d {
  width: 200px !important;
  height: 200px !important;
}

.svg-inline--fa.fa-fw {
  margin-right: 5px;
}

